profiles {	
    standard {	
        process {	
            withName: 'Trimming' {		
            cpus = 8
            memory = 8.GB	
        }	
           withName: 'Mapping' {		
            cpus = 10	
            memory = 24.GB	
        }
           withName: 'Analysis' {		
            cpus = 8	
            memory = 8.GB	
        }                                       
    }
    }
    cloud {	
       process {
            withName: 'Trimming' {		
            cpus = 8	
            memory = 16.GB	
        }	
           withName: 'Mapping' {		
            cpus = 8	
            memory = 24.GB	
        }
           withName: 'Analysis' {		
            cpus = 8	
            memory = 16.GB	
        }              
    }
    }
    cloud_big {	
       process {
            withName: 'Trimming' {		
            cpus = 8
            memory = 16.GB	
        }
           withName: 'Mapping' {		
            cpus = 8
            memory = 24.GB	
        }
           withName: 'Analysis' {		
            cpus = 8
            memory = 24.GB	
        }                  
    }
    }
    testing {	
        process {	
            cpus = 4
            memory = 8.GB	
        }	
    }	
// Docker always true. Containers defined in each process
docker.enabled = true
}